<html>
<head>
  
    <title>Upload Image</title>

</head>
<body background ="/static/background.jpg" alt="background">
    <div class="col-sm" style="text-align:center">
      <h1><span class="badge badge-danger">Plant Image Classifier</span></h1>
    </div>
    
    <div class="col-sm" style="text-align:center" margin-top: 50px;>
      <form action = "/predict" method = "post" enctype="multipart/form-data">
          <input type="file" name="file" />
          <input type = "submit" value="Upload">
      </form>
    </div>

    <div class="col-sm">
     <b> <h3>Instructions  <span class="badge badge-secondary">{{product}}</span></h3></b>
    </div>

</body>
</html>