<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plant Image Classification</title>
</head>
<body>

  <div class="container">
  <div class="row">

    <div class="col-sm">
      <span class="border border-primary">
        <img src="{{ user_image }}" alt="Selected Image" >
      </span>
    </div>

    <div class="col-sm">
      <h1>Prediction   <span class="badge badge-secondary">{{product}}</span></h1>
    </div>

    <div class="col-sm">
      <h1>{{reference}}</h1>
      <a href={{link}}>{{link}}</a>
    </div>

  </div>
</div>


</body>
</html>